<ion-view view-title="Olympia">
  <ion-content>


    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box s_lide">
          <img src="img/cover/He_Kexin2.jpg" class="cover-image">
          <h2 class="article_title">He Kexin Wins Gold</h2>
          <div class="article_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur felis in molestie eleifend. Aenean feugiat augue et enim pulvinar iaculis. Mauris arcu felis, feugiat vitae scelerisque non, sollicitudin vel massa. Nulla eu odio est. Suspendisse vel sapien dolor. Suspendisse potenti. Cras rutrum id turpis quis tincidunt. Nullam a blandit ante, pulvinar blandit arcu. Nulla facilisi.

            Fusce finibus leo nec magna finibus mollis. Nunc placerat cursus cursus. Donec luctus pharetra elit, eget efficitur dolor tincidunt vel. Aliquam sodales tempor sollicitudin.
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box s_lide">
          <img src="img/cover/oly_g_phelps_s_576.jpg" class="cover-image">
          <h2 class="article_title">Phelps-World Record</h2>
          <div class="article_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur felis in molestie eleifend. Aenean feugiat augue et enim pulvinar iaculis. Mauris arcu felis, feugiat vitae scelerisque non, sollicitudin vel massa. Nulla eu odio est. Suspendisse vel sapien dolor. Suspendisse potenti. Cras rutrum id turpis quis tincidunt. Nullam a blandit ante, pulvinar blandit arcu. Nulla facilisi.

            Fusce finibus leo nec magna finibus mollis. Nunc placerat cursus cursus. Donec luctus pharetra elit, eget efficitur dolor tincidunt vel. Aliquam sodales tempor sollicitudin. 
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box s_lide">
          <img src="img/cover/PingPong2.jpg" class="cover-image">
          <h2 class="article_title">Something Table Tennis</h2>
          <div class="article_content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur felis in molestie eleifend. Aenean feugiat augue et enim pulvinar iaculis. Mauris arcu felis, feugiat vitae scelerisque non, sollicitudin vel massa. Nulla eu odio est. Suspendisse vel sapien dolor. Suspendisse potenti. Cras rutrum id turpis quis tincidunt. Nullam a blandit ante, pulvinar blandit arcu. Nulla facilisi.

            Fusce finibus leo nec magna finibus mollis. Nunc placerat cursus cursus. Donec luctus pharetra elit, eget efficitur dolor tincidunt vel. Aliquam sodales tempor sollicitudin. 
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
