<ion-view view-title="Sports">
  <ion-content>
  	<div class="row">
  		<div class="col">
			<label class="item item-input"  style = 'height:35px !important;'>
			  <i class="icon ion-search placeholder-icon"></i>
			  <input type="search" placeholder="Search your favourite sports">
			</label>
  		</div>
  	</div>

	<div class="row">
	  <div id = "diving" class="col">
	  	<a ng-click = "setSport('diving')" class="button button-icon icon">
	  		<img src="img/sports/diving.png">
	  	</a> 
  		<p class="text-center">Diving</p>
	  </div>
	  <div id = "swimming" class="col">
	  	<a ng-click = "setSport('swimming')" class="button button-icon icon">
	  		<img src="img/sports/swimming.png">
	  	</a> 
  		<p class="text-center">Swimming</p>
	  </div>
	  <div id = "sailing" class="col">
	  	<a ng-click = "setSport('sailing')" class="button button-icon icon">
	  		<img src="img/sports/sailing.png">
	  	</a> 
  		<p class="text-center">Sailing</p>
	  </div>
	</div>
	
	<div class="row">
	  <div id = "water_polo" class="col">
	  	<a ng-click = "setSport('water_polo')" class="button button-icon icon">
	  		<img src="img/sports/water_polo.png">
	  	</a> 
  		<p class="text-center">Water Polo</p>
	  </div>
	  <div id = "cycling" class="col">
	  	<a ng-click = "setSport('cycling')" class="button button-icon icon">
	  		<img src="img/sports/cycling.png">
	  	</a> 
  		<p class="text-center">Cycling</p>
	  </div>
	  <div id = "fencing" class="col">
	  	<a ng-click = "setSport('fencing')" class="button button-icon icon">
	  		<img src="img/sports/fencing.png">
	  	</a> 
  		<p class="text-center">Fencing</p>
	  </div>
	</div>

	<div class="row">
	  <div  id = "football" class="col">
	  	<a ng-click = "setSport('football')" class="button button-icon icon">
	  		<img src="img/sports/football.png">
	  	</a> 
  		<p class="text-center">Football</p>
	  </div>
	  <div id = "table_tennis" class="col">
	  	<a ng-click = "setSport('table_tennis')" class="button button-icon icon">
	  		<img src="img/sports/table_tennis.png">
	  	</a> 
  		<p class="text-center">Table Tennis</p>
	  </div>
	  <div id = "badminton" class="col">
	  	<a ng-click = "setSport('badminton')" class="button button-icon icon">
	  		<img src="img/sports/badminton.png">
	  	</a> 
  		<p class="text-center">Badminton</p>
	  </div>
	</div>

	<div class="row">
		<div class="col-50">
			<a class="button icon-left ion-chevron-left button-calm" href="#/app/firstUser_allegiance">Previous</a>
		</div>
		<div class="col-30 col-offset-20">
			<a ng-click = "next()" class="button icon-right ion-chevron-right button-calm" href="#/app/firstUser_athletes">Next</a>
		</div>
	</div>

  </ion-content>
	<ion-tabs class="tabs-positive tabs-icon-only">
		<ion-tab title="Allegiance" href="#/app/firstUser_allegiance">
		<!-- Tab 1 content -->
		</ion-tab>

		<ion-tab title="Sports" href="#/app/firstUser_sports">
		<!-- Tab 2 content -->
		</ion-tab>

		<ion-tab title="Athletes" href="#/app/firstUser_athletes">
		<!-- Tab 3 content -->
		</ion-tab>

	</ion-tabs>
</ion-view>