<ion-view view-title="Allegiance">
  <ion-content>
  	<div class="row" style = "padding:0;">
  		<div class="col">
			<label class="item item-input" style = 'height:35px !important;'>
			  <i class="icon ion-search placeholder-icon"></i>
			  <input type="search" placeholder="Search your allegiance">
			</label>
  		</div>
  	</div>

	<div class="row">
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/country/argentina.png">
	  	</a>
  		<p class="text-center">Argentina</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/country/france.png">
	  	</a> 
  		<p class="text-center">France</p>
	  </div>
	  <div id = "China" class="col country_selection">
	  	<a ng-click = "setAllegiance('China')"  class="button button-icon icon">
	  		<img src="img/country/China.png">
	  	</a> 
  		<p class="text-center">China</p>
	  </div>
	</div>

	<div class="row">
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/country/uk.png">
	  	</a> 
  		<p class="text-center">UK</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/country/us.png">
	  	</a> 
  		<p class="text-center">US</p>
	  </div>
	  <div id = "Canada" class="col">
	  	<a ng-click = "setAllegiance('Canada')"   class="button button-icon icon">
	  		<img src="img/country/Canada.png">
	  	</a> 
  		<p class="text-center">Canada</p>
	  </div>
	</div>

	<div class="row">
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/country/hongkong.png">
	  	</a> 
  		<p class="text-center">Hong Kong</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/country/belgium.png">
	  	</a> 
  		<p class="text-center">Belgium</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/country/turkey.png">
	  	</a> 
  		<p class="text-center">Turkey</p>
	  </div>
	</div>

	<div class="row">
		<div  class="col col-33 col-offset-67">
			<a id = "allegiance_next" ng-click = "next()" class="button icon-right ion-chevron-right button-calm" >Next</a>
		</div>
	</div>

  	</ion-content>
	<ion-tabs class="tabs-positive tabs-icon-only">
		<ion-tab title="Allegiance" href="#/app/firstUser_allegiance">
		<!-- Tab 1 content -->
		</ion-tab>

		<ion-tab title="Sports" href="#/app/firstUser_sports">
		<!-- Tab 2 content -->
		</ion-tab>

		<ion-tab title="Athletes" href="#/app/firstUser_athletes">
		<!-- Tab 3 content -->
		</ion-tab>

	</ion-tabs>
</ion-view>