<ion-view view-title="Athletes">
  <ion-content>

  	<div class="row">
  		<div class="col">
			<label class="item item-input"  style = 'height:35px !important;'>
			  <i class="icon ion-search placeholder-icon"></i>
			  <input type="search" placeholder="Search your favourite athletes">
			</label>
  		</div>
  	</div>

	<div class="row">
	  <div id = "alina" class="col">
	  	<a ng-click = "setAthlete('Alina Maksymenko','alina','Ukraine')" class="button button-icon icon">
	  		<img src="img/athletes/alina.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Alina Maksymenko</b> (Ukraine)</p>
	  </div>
	  <div id = "aliya" class="col">
	  	<a ng-click = "setAthlete('Aliya Garayeva','aliya','Azerbaijan')" class="button button-icon icon">
	  		<img src="img/athletes/aliya.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Aliya Garayeva</b> (Azerbaijan)</p>
	  </div>
	  <div id = "daria" class="col">
	  	<a ng-click = "setAthlete('Daria Dmitrieva','daria','Russia')" class="button button-icon icon">
	  		<img src="img/athletes/daria.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Daria Dmitrieva</b> (Russia)</p>
	  </div>
	</div>
	
	<div class="row">
	  <div id = "joanna" class="col">
	  	<a ng-click = "setAthlete('Joanna Mitrosz','joanna','Poland')" class="button button-icon icon">
	  		<img src="img/athletes/joanna.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Joanna Mitrosz</b> (Poland)</p>
	  </div>
	  <div id = "liubov" class="col">
	  	<a ng-click = "setAthlete('Liubov Charkashyna','liubov','Belarus')" class="button button-icon icon">
	  		<img src="img/athletes/liubov.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Liubov Charkashyna</b> (Belarus)</p>
	  </div>
	  <div id = "neta" class="col">
	  	<a ng-click = "setAthlete('Neta Rivkin','neta','Israel')" class="button button-icon icon">
	  		<img src="img/athletes/neta.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Neta Rivkin</b> (Israel)</p>
	  </div>
	</div>

	<div class="row">
	  <div id = "son" class="col">
	  	<a ng-click = "setAthlete('Son Yeon-Jae','son','Korea')" class="button button-icon icon">
	  		<img src="img/athletes/son.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Son Yeon-Jae</b> (Korea)</p>
	  </div>
	  <div id = "sylvia" class="col">
	  	<a ng-click = "setAthlete('Sylvia Miteva', 'sylvia','Bulgaria')" class="button button-icon icon">
	  		<img src="img/athletes/sylvia.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Sylvia Miteva</b> (Bulgaria)</p>
	  </div>
	  <div id = "yevge" class="col">
	  	<a ng-click = "setAthlete('Yevgeniya Kanayeva','yevge','Russia')" class="button button-icon icon">
	  		<img src="img/athletes/yevge.png" height="70" width="70">
	  	</a> 
  		<p class="text-center"><b>Yevgeniya Kanayeva</b> (Russia)</p>
	  </div>
	</div>

	<div class="row">
		<div class="col-50">
			<a class="button icon-left ion-chevron-left button-calm" href="#/app/firstUser_sports">Previous</a>
		</div>
		<div class="col-26 col-offset-10">
			<a ng-click = "next()" class="button icon-right ion-chevron-right button-assertive" href="#/app/home">Submit</a>
		</div>
	</div>

  </ion-content>
	<ion-tabs class="tabs-positive tabs-icon-only">
		<ion-tab title="Allegiance" href="#/app/firstUser_allegiance">
		<!-- Tab 1 content -->
		</ion-tab>

		<ion-tab title="Sports" href="#/app/firstUser_sports">
		<!-- Tab 2 content -->
		</ion-tab>

		<ion-tab title="Athletes" href="#/app/firstUser_athletes">
		<!-- Tab 3 content -->
		</ion-tab>

	</ion-tabs>
</ion-view>