<ion-view view-title="Sports">
  <ion-content>
  	<h5>What sports are you interested in?</h5>
	<label class="item item-input">
	  <i class="icon ion-search placeholder-icon"></i>
	  <input type="search" placeholder="Search">
	</label>
	<br>

	<div class="row">
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/diving.png">
	  	</a> 
  		<p class="text-center">Diving</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/swim.png">
	  	</a> 
  		<p class="text-center">Swim</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/sailing.png">
	  	</a> 
  		<p class="text-center">Sailing</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/waterpolo.png">
	  	</a> 
  		<p class="text-center">Water Polo</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/diving.png">
	  	</a> 
  		<p class="text-center">Diving</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/sailing.png">
	  	</a> 
  		<p class="text-center">Sailing</p>
	  </div>
	</div>

	<div class="row">
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/waterpolo.png">
	  	</a> 
  		<p class="text-center">Water Polo</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/sailing.png">
	  	</a> 
  		<p class="text-center">Sailing</p>
	  </div>
	  <div class="col">
	  	<a class="button button-icon icon">
	  		<img src="img/sports/swim.png">
	  	</a> 
  		<p class="text-center">Swim</p>
	  </div>
	</div>

	<div class="row">
		<div class="col-50">
			<a class="button icon-left ion-chevron-left button-calm" href="#/app/firstUser_allegiance">Previous</a>
		</div>
		<div class="col-30 col-offset-20">
			<a class="button icon-right ion-chevron-right button-calm" href="#/app/firstUser_athletes">Next</a>
		</div>
	</div>

  </ion-content>
	<ion-tabs class="tabs-positive tabs-icon-only">
		<ion-tab title="Allegiance" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/app/firstUser_allegiance">
		<!-- Tab 1 content -->
		</ion-tab>

		<ion-tab title="Sports" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/app/firstUser_sports">
		<!-- Tab 2 content -->
		</ion-tab>

		<ion-tab title="Athletes" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/app/firstUser_athletes">
		<!-- Tab 3 content -->
		</ion-tab>

	</ion-tabs>
</ion-view>