<ion-view view-title="Olympia">
  <ion-content>
    <a href="#/app/cover_stories">
        <img ng-if = "allegiance == 'China'" src="img/cover/Shooting_BIG.jpg" class="cover-image">
        <img ng-if = "allegiance == 'Canada'" src="img/cover/Rosie_MacLennan.jpg" class="cover-image">
        <h2 ng-if = "allegiance == 'China'" class="cover-header">China's Yi Siling wins first gold medal of London 2012</h2>
        <h2 ng-if = "allegiance == 'Canada'" class="cover-header">Rosie MacLennan wins nation's first 2012 gold medal</h2>
    </a>
    <ul class="list">
        <li class="item">
          <a href="#/app/live_events">Live Events</a>
        </li>
        <li class="item">
          <a href="#/app/medalCount">Medal Count</a>
        </li>
        <li class="item">
          <a href="#/app/schedule">Schedule</a>
        </li>
        <li class="item">
          <a href="#/app/preference_allegiance">Preferences</a>
        </li>
    </ul>
  </ion-content>
</ion-view>
