<ion-view view-title="Olympia">
  <ion-content>
    <a href="#/app/cover_stories">
        <img src="img/cover/He_Kexin2.jpg" class="cover-image">
        <h2 class="cover-header">He Kexin Wins Gold</h2>
    </a>
    <ul class="list">
        <li class="item">
          <a href="#/app/live_events">Live Events</a>
        </li>
        <li class="item">
          <a href="#/app/medalCount">Medal Count</a>
        </li>
        <li class="item">
          <a href="#/app/schedule">Schedule</a>
        </li>
        <li class="item">
          <a href="#/app/preference_allegiance">Preferences</a>
        </li>
    </ul>
  </ion-content>
</ion-view>
