<ion-view view-title="Chatroom (Canada)">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="name">
          <b>David</b>
        </div>
        <div class="message">
          Go Canada!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Ammz</b>
        </div>
        <div class="message">
          Everyone, go watch boxing!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Ammz</b>
        </div>
        <div class="message">
          Woooooooooooah!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Alan</b>
        </div>
        <div class="message">
          O CANADA!
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="left">
    <div class="button-bar">
      <label class="item item-input col-50"><input type="text" placeholder="Enter a message..."></label>
      <button class="button button-positive">
      <i class="icon ion-happy-outline"></i>
      </button>
      <button class="button button-positive">
      <i class="icon ion-camera"></i>
      </button>
      <button class="button button-positive">
      <i class="icon ion-social-twitter-outline"></i>
      </button>
      <button class="button button-positive">
      <i class="icon ion-social-facebook-outline"></i>
      </button>
    </div>
  </ion-footer bar>

</ion-view>
