<ion-view view-title="Athletes">
  <ion-content>
    <div class="list">

      <a class="item item-avatar-left item-icon-right item-icon-right" href="#/app/live_feed_01_hekexin">
        <img src="img/country/China.png">
          <h2>He Kexin</h2>
          <p>China</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>

      <a class="item item-avatar-left item-icon-right" href="#">
        <img src="img/country/China.png" class="country-flag">
          <h2>Yang Yilin</h2>
          <p>China</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>

      <a class="item item-avatar-left item-icon-right" href="#">
        <img src="img/country/russia.png">
          <h2>Ksenia Semenova</h2>
          <p>Russia</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>

      <a class="item item-avatar-left item-icon-right" href="#">
        <img src="img/country/ukraine.png">
          <h2>Anastasia Koval</h2>
          <p>Ukraine</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>

      <a class="item item-avatar-left item-icon-right" href="#">
        <img src="img/country/romania.png">
          <h2>Steliana Nistor</h2>
          <p>Romania</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>

      <a class="item item-avatar-left item-icon-right" href="#">
        <img src="img/country/us.png">
          <h2>Nastia Liukin</h2>
          <p>USA</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>

      <a class="item item-avatar-left item-icon-right" href="#">
        <img src="img/country/ukraine.png">
          <h2>Dariya Zgoba</h2>
          <p>Ukraine</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>

      <a class="item item-avatar-left item-icon-right" href="#">
        <img src="img/country/uk.png">
          <h2>Beth Tweddle</h2>
          <p>United Kingdom</p>
          <i class="button button-icon icon ion-chevron-right "></i>
      </a>
    </div>
  </ion-content>

  <ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Live Feed" href="#/app/live_feed_01">
    <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Athletes" href="#/app/live_feed_01_athletes" active>
    <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Standing" href="#/app/live_feed_01_standing">
    <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
</ion-view>
