<ion-view view-title="Chatroom (Canada)">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="name">
          <b>David</b>
        </div>
        <div class="message">
          Go Canada!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Ammz</b>
        </div>
        <div class="message">
          Everyone, go watch boxing!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Ammz</b>
        </div>
        <div class="message">
          Woooooooooooah!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Alan</b>
        </div>
        <div class="message">
          O CANADA!
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-tabs class="tabs-positive tabs-icon-only">
  	 <label class="item item-input" style = 'width:800px;'><input type="text" placeholder="Enter a message..."></label>
	 <ion-tab icon="ion-camera"></ion-tab>
	 <ion-tab icon="ion-happy-outline"></ion-tab>
	 <ion-tab icon="ion-android-arrow-dropright"></ion-tab>
  </ion-tabs>
</ion-view>
