<ion-view view-title="He Kexin">
  <ion-content>
  <div class="card">
    <div class="item item-avatar">
      <img src="img/country/china.png">
      <h2>He Kexin</h2>
      <p>China</p>
    </div>
    <div class="item item-text-wrap">
      <ion-list>
        <ion-item>
          <p>Country: China</p>
        </ion-item>
        <ion-item>
          <p>Born: January 1, 1992</p>
        </ion-item>
        <ion-item>
          <p>Height: 152cm</p>
        </ion-item>
        <ion-item>
          <p>Discipline: Women's artistic gymnastics</p>
        </ion-item>
        <ion-item>
          <h2>Current Standing</h2>
          <p><font color=gold><b>GOLD</b></font> Team</p>
          <p><font color=silver><b>SILVER</b></font> Uneven Bars</p>
        </ion-item>
        <ion-item>
          <h2>Medal Record</h2>
          <h3>Summer Olympics</h3>
          <p><font color=gold><b>GOLD</b></font> 2008 Beijing | Team</p>
          <p><font color=gold><b>GOLD</b></font> 2008 Beijing | Uneven Bars</p>
          <p><font color=silver><b>SILVER</b></font> 2012 London | Uneven Bars</p>
        </ion-item>
      </ion-list>
    </div>
  </div>

  </ion-content>

  <ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Live Feed" href="#/app/live_feed_01">
    <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Athletes" href="#/app/live_feed_01_athletes" active>
    <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Standing" href="#/app/live_feed_01_standing">
    <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
</ion-view>