<ion-view view-title="Chatroom (Canada)">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="name">
          <b>David</b>
          <font style="font-size:9px">15:13</font>
        </div>
        <div class="message">
          <i class="avatar icon ion-chevron-right "></i>
          Go Canada!
        </div>
      </ion-item>

      <ion-item>
        <div class="name">
          <b>Ammz</b>
          <font style="font-size:9px">15:15</font>
        </div>
        <div class="message">
          <i class="avatar icon ion-chevron-right "></i>
          Everyone, go watch boxing!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Ammz</b>
          <font style="font-size:9px">15:20</font>
        </div>
        <div class="message">
          <i class="avatar icon ion-chevron-right "></i>
          Woooooooooooah!
        </div>
      </ion-item>
      <ion-item>
        <div class="name">
          <b>Alan</b>
          <font style="font-size:9px">15:21</font>
        </div>
        <div class="message">
          <i class="avatar icon ion-chevron-right "></i>
          O CANADA!
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar align-title="left">
    <div class="button-bar ">
      <label class="item item-input col-50"><input type="text" placeholder="Message"></label>
      <button class="button button-positive">
      <i class="icon ion-happy-outline"></i>
      </button>
      <button class="button button-positive">
      <i class="icon ion-camera"></i>
      </button>
      <button class="button button-positive">
      <i class="icon ion-social-twitter-outline"></i>
      </button>
      <button class="button button-positive">
      <i class="icon ion-social-facebook-outline"></i>
      </button>
    </div>
  </ion-footer bar>

</ion-view>
