<ion-view view-title="Atheletes">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="athlete">
          <img src="img/country/china.png" class="country-flag">
          <span>Yang Yilin(CHN)</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="athlete">
          <img src="img/country/russia.png" class="country-flag">
          <span>Ksenia Semenova (RUS)</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="athlete">
          <img src="img/country/ukraine.png" class="country-flag">
          <span>Anastasia Koval (UKR)</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="athlete">
          <img src="img/country/romania.png" class="country-flag">
          <span>Steliana Nistor (ROU)</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="athlete">
          <img src="img/country/us.png" class="country-flag">
          <span>Nastia Liukin (USA)</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="athlete">
          <img src="img/country/china.png" class="country-flag">
          <span>He Kexin (CHN)</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="athlete">
          <img src="img/country/ukraine.png" class="country-flag">
          <span>Dariya Zgoba (UKR)</span>
        </div>
      </ion-item>
      <ion-item>
        <div class="athlete">
          <img src="img/country/uk.png" class="country-flag">
          <span>Beth Tweddle (GBR)</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Live Feed" href="#/app/live_feed_01">
    <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Athletes" href="#/app/live_feed_01_athletes" active>
    <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Standing" href="#/app/live_feed_01_standing">
    <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
</ion-view>
