<ion-view view-title="Medal Count">
  <ion-content>
	
	<h3>Your allegiance</h3>
	
	<div class="row">
        <div class="col">
	     <font><b>Rank</b></font>
	    </div>
        <div class="col-25">
	     <font><b>Country</b></font>
	    </div>
	    <div class="col">
	      <font color=gold><b>Gold</b></font>
	    </div>
	    <div class="col">
	      <font color=silver><b>Silver</b></font>
	    </div>
	    <div class="col">
	      <font color=#C87533><b>Copper</b></font>
	    </div>
	    <div class="col">	  
	      <font><b>Total</b></font>
	    </div>
      </div>
	  
      <div class="row">
        <div class="col">20</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_Canada.svg.png" title="Canada" width="22" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Canada.svg/33px-Flag_of_Canada.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_Canada.svg/44px-Flag_of_Canada.svg.png 2x" data-file-width="1235" data-file-height="650" />
		  Canada (CAD)
	    </div>
	    <div class="col">5</div>
	    <div class="col">3</div>
		<div class="col">1</div>
	    <div class="col">9</div>
      </div>
	  	  
	  
    <h3>World</h3>
	   <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search country">
          </label>
       </div>

	  <div class="row">
        <div class="col">
	     <font><b>Rank</b></font>
	    </div>
        <div class="col-25">
	     <font><b>Country</b></font>
	    </div>
	    <div class="col">
	      <font color=gold><b>Gold</b></font>
	    </div>
	    <div class="col">
	      <font color=silver><b>Silver</b></font>
	    </div>
	    <div class="col">
	      <font color=#C87533><b>Copper</b></font>
	    </div>
	    <div class="col">	  
	      <font><b>Total</b></font>
	    </div>
      </div>
	  
	  
	  <div class="row">
        <div class="col">1</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_the_United_States.svg.png" title="United States" width="22" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/33px-Flag_of_the_United_States.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/44px-Flag_of_the_United_States.svg.png 2x" data-file-width="1235" data-file-height="650" />
		  United States (USA)
	    </div>
	    <div class="col">46</div>
	    <div class="col">29</div>
		<div class="col">29</div>
	    <div class="col">104</div>
      </div>
	  
	  <div class="row">
        <div class="col">2</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_the_People%27s_Republic_of_China.svg.png" title="China" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/33px-Flag_of_the_People%27s_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/44px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x" data-file-width="900" data-file-height="600" />
		  China (CHN)
	    </div>
	    <div class="col">38</div>
	    <div class="col">27</div>
		<div class="col">23</div>
	    <div class="col">88</div>
      </div>	  

	  <div class="row">
        <div class="col">3</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_the_United_Kingdom.svg.png" title="Great Britain" width="22" height="11" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/33px-Flag_of_the_United_Kingdom.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/44px-Flag_of_the_United_Kingdom.svg.png 2x" data-file-width="1200" data-file-height="600" />
		  Great Britain (GBR)
	    </div>
	    <div class="col">29</div>
	    <div class="col">17</div>
		<div class="col">19</div>
	    <div class="col">65</div>
      </div>	 	

	  <div class="row">
        <div class="col">4</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_Russia.svg.png" title="Russia" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/33px-Flag_of_Russia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/44px-Flag_of_Russia.svg.png 2x" data-file-width="900" data-file-height="600" />
		  Russia (RUS)
	    </div>
	    <div class="col">24</div>
	    <div class="col">25</div>
		<div class="col">32</div>
	    <div class="col">81</div>
      </div>
	  
	  <div class="row">
        <div class="col">5</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_South_Korea.svg.png" title="South Korea" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/33px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/44px-Flag_of_South_Korea.svg.png 2x" data-file-width="900" data-file-height="600" />
		  South Korea (KOR)
	    </div>
	    <div class="col">13</div>
	    <div class="col">8</div>
		<div class="col">7</div>
	    <div class="col">28</div>
      </div>
	  
	  <div class="row">
        <div class="col">6</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_Germany.svg.png" title="Germany" width="22" height="13" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/33px-Flag_of_Germany.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/44px-Flag_of_Germany.svg.png 2x" data-file-width="1000" data-file-height="600" />
		  Germany (GER)
	    </div>
	    <div class="col">11</div>
	    <div class="col">19</div>
		<div class="col">14</div>
	    <div class="col">44</div>
      </div>
	  
	  <div class="row">
        <div class="col">7</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_France.svg.png" title="France" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/33px-Flag_of_France.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/44px-Flag_of_France.svg.png 2x" data-file-width="900" data-file-height="600" />
		  France (FRA)
	    </div>
	    <div class="col">11</div>
	    <div class="col">11</div>
		<div class="col">12</div>
	    <div class="col">34</div>
      </div>
	  
	  <div class="row">
        <div class="col">8</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_Italy.svg.png" title="Italy" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/33px-Flag_of_Italy.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/44px-Flag_of_Italy.svg.png 2x" data-file-width="1500" data-file-height="1000" />
		  Italy (ITA)
	    </div>
	    <div class="col">8</div>
	    <div class="col">9</div>
		<div class="col">11</div>
	    <div class="col">28</div>
      </div>

	  <div class="row">
        <div class="col">9</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_Hungary.svg.png" title="Hungary" width="22" height="11" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Flag_of_Hungary.svg/33px-Flag_of_Hungary.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Flag_of_Hungary.svg/44px-Flag_of_Hungary.svg.png 2x" data-file-width="1200" data-file-height="600" />
		  Hungary(HUN)
	    </div>
	    <div class="col">8</div>
	    <div class="col">4</div>
		<div class="col">6</div>
	    <div class="col">18</div>
      </div>	  
	  
	  <div class="row">
        <div class="col">10</div>
        <div class="col-25">
	      <img alt="" src="img/country/22px-Flag_of_Australia.svg.png" title="Australia" width="22" height="11" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/33px-Flag_of_Australia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/44px-Flag_of_Australia.svg.png 2x" data-file-width="1280" data-file-height="640" />
		  Australia(AUS)
	    </div>
	    <div class="col">7</div>
	    <div class="col">16</div>
		<div class="col">12</div>
	    <div class="col">35</div>
      </div>	 
  </ion-content>
</ion-view>
