<ion-view view-title="Schedule">
  <ion-content>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">9:15 AM - Men 100m Dash</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">9:15 AM - Men Welter Weight Boxing</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">9:20 AM - Women Trampoline</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">9:25 AM - Equestrian</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">9:45 AM - Women Weightlifting 63kg</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">10:00 AM - Men Cycling BMX</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">10:15 AM - Men Basketball</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">10:30 AM - Women Fencing Epee Individual</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">10:30 AM - Men Wrestling Freestyle 74-84kg</div>
    <div style="text-align:center;background:white" onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">10:45 AM - Men Triathlon</div>
  </ion-content>
</ion-view>
