<ion-view view-title="Schedule">
  <ion-content>
    <div class="list">
        <div class="item" ng-click="showConfirm('Men 100m Dash','9:15AM, August 20 (Monday)')">
            <h2>Men 100m Dash </h2>
            <p>9:15 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Men Welter Weight Boxin','9:15AM, August 20(Monday)')">
            <h2>Men Welter Weight Boxing</h2>
            <p>9:15 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Women Trampoline','9:20AM, August 20(Monday)')">
            <h2>Women Trampoline</h2>
            <p>9:20 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Equestrian','9:25AM, August 20(Monday)')">
            <h2>Equestrian</h2>
            <p>9:25 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Women Weightlifting 63kg','9:45AM, August 20(Monday)')">
            <h2>Women Weightlifting 63kg</h2>
            <p>9:45 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Men Cycling BMX','10:00AM, August 20(Monday)')">
            <h2>Men Cycling BMX</h2>
            <p>10:00 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Men Basketball','10:15AM, August 20(Monday)')">
            <h2>>Men Basketball</h2>
            <p>10:15 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Women Fencing Epee Individual','10:30AM, August 20(Monday)')">
            <h2>Women Fencing Epee Individual</h2>
            <p>10:30 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Men Wrestling Freestyle 74-84kg','10:30AM, August 20(Monday)')">
            <h2>Men Wrestling Freestyle 74-84kg</h2>
            <p>10:30 AM, August 20 (Monday)</p>
        </div>
        <div class="item" ng-click="showConfirm('Men Triathlon','10:45AM, August 20(Monday)')">
            <h2>Men Triathlon</h2>
            <p>10:45 AM, August 20 (Monday)</p>
        </div>
    </div>


  </ion-content>
</ion-view>
