<ion-view view-title="Schedule">
  <ion-content>
    <div class="row" style="text-align:center">
        <div class="col">9:15 AM</div>
        <div class="col">Men 100m Dash</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">9:15 AM</div>
        <div class="col">Men Welter Weight Boxing</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">9:20 AM</div>
        <div class="col">Women Trampoline</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">9:25 AM</div>
        <div class="col">Equestrian</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">9:45 AM</div>
        <div class="col">Women Weightlifting 63kg</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">10:00 AM</div>
        <div class="col">Men Cycling BMX</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">10:15 AM</div>
        <div class="col">Men Basketball</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">10:30 AM</div>
        <div class="col"> Women Fencing Epee Individual</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">10:30 AM</div>
        <div class="col">Men Wrestling Freestyle 74-84kg</div>
    </div>
    <div class="row" style="text-align:center">
        <div class="col">10:45 AM</div>
        <div class="col">Men Triathlon</div>
    </div>
  </ion-content>
</ion-view>
